.section-1 {
    background-color: blue;
}
.container {
    text-align: right
}



label { 
    width: 80px;
    display: block-inline !important;
}

.div-pad {
  margin-top: 0px;  
}

#sign-in {
    background-color: transparent; color: white; border: none;

}
#try-for-free {
    background-color: orange; color: white; border-start-end-radius: 15px;
}