.section-1 {
    background-color: blue;
}
.container {
    text-align: top-right;
}



label { 
    width: 80px;
    display: block-inline !important;
}

.div-pad {
  margin-top: 0px;  
}

#sign-in {
    background-color: blue; color: white; 
}
#try-for-free {
    background-color: orange; color: white; 
}